* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  /* z-index: 1000; */
  /* border: 1px solid white; */
}

.nav-left {
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.logo {
  height: 33px;
  padding-right: 10px;
}

.circle {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background-color: rgb(55, 54, 55);
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  height: 28px;
  padding: 2px;
}

.search-box {
  border: 1px solid rgb(75, 75, 75);
  width: 450px;
  max-width: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 4px;
  margin-left: 15px;
  background-color: rgb(55, 54, 55);
  display: flex;
  align-items: center;
  position: relative;
  transition: border 0.2s, box-shadow 0.2s;
}

.search-box:hover {
  border-color: #b3b3b3;
}

.search-box:focus-within {
  border: 1px solid #1db954;
  box-shadow: 0 0 5px #1db954;
}


.search-icon,
.clear-icon {
  height: 20px;
  width: 20px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.search-icon {
  margin-right: 10px;
}

.clear-icon {
  margin-left: 10px;
}

.search-box input {
  border: none;
  background: transparent;
  font-size: large;
  color: aliceblue;
  outline: none;
  width: 100%;
}

.shortcut {
  display: flex;
  gap: 4px;
  position: absolute;
  right: 120px;
  opacity: 0;
  transition: opacity 0.2s;
}

.key {
  background-color: #181818;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #b3b3b3;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "Segoe UI", sans-serif;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.search-box:hover .shortcut {
  opacity: 1;
}

.search-box:focus-within .shortcut {
  opacity: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 60px;
  font-size: 16px;
  padding: 18px;
}

.nav-right a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.7;
  transition: opacity 0.3s;
  margin-left: 15px;
}

.nav-right a:hover {
  opacity: 1;
}

.nav-right span {
  color: #fff;
  margin-left: 15px;
  margin: 0 -5px;
  font-weight: 300;
}

.nav-right a:nth-child(3) {
  margin-right: 25px;
}

.login-btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 500px;
  transition: transform 0.2s, background-color 0.2s;
  border: none;
}

.login-btn:hover {
  background-color: #f6f6f6;
  transform: scale(1.04);
}

/* nav bar ends hereee */
/* left sidebar styling*/
.left-content {
  width: 28%;
  min-width: 250px;
  height: calc(100vh - 65px);
  background-color: rgb(19, 18, 18);
  position: fixed;
  top: 65px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  border-radius: 12px;
  color: white;
}

#ltbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

#ltbar p {
  position: absolute;
  right: 23px;
  font-size: 28px;
}

#ltcontent {
  color: white;
  display: flex;
  flex-direction: column;
}

.left-top::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

.left-top::-webkit-scrollbar-track {
  background-color: transparent
}

.left-top::-webkit-scrollbar-thumb {
  background-color: #888;
}

.left-top::-webkit-scrollbar-button {
  display: none;
}

.left-top {
  height: 140px;
  overflow-y: scroll;
  background-color: transparent;
  position: absolute;
  top: 70px;
  padding: 0px 5px;
  width: 100%;
}

#lt1,
#lt2 {
  margin-bottom: 5px;
  width: 100%;
  height: 140px;
  background-color: rgba(35, 35, 35, 1);
  border-radius: 12px;
  padding: 18px 15px;
}

#lt1 :nth-child(1) {
  padding-bottom: 10px;
  font-weight: 700;
}

#lt2 :nth-child(1) {
  padding-bottom: 10px;
  font-weight: 700;
}

#lt1 :nth-child(2) {
  font-size: small;
  padding-bottom: 10px;
}

#lt2 :nth-child(2) {
  font-size: small;
  padding-bottom: 10px;
}

.create-btn,
.browse-btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 500px;
  transition: transform 0.2s, background-color 0.2s;
  border: none;
  margin: 5px 5px 5px 0px;
}

.create-btn:hover,
.browse-btn:hover {
  background-color: #f6f6f6;
  transform: scale(1.04);
}

.left-bottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
}

.left-bottom .row {
  display: flex;
  gap: 0px 10px;
  padding: 0px 15px;
  margin-bottom: 15px;
}

.left-bottom a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 11px;
  opacity: 0.8;
}

.left-bottom a:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}

.lang-btn-con {
  padding: 0px 15px;
  margin-top: 10px;
}

.lang-btn {
  border-radius: 500px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

/* left-content ends here */
/* right-content starts here */
.right-content {
  margin-left: 28%;
  background-color: rgb(19, 18, 18);
  color: white;
  height: calc(100vh - 65px);
  top: 65px;
  position: relative;
  border-radius: 12px;
  padding: 24px 1px 24px 35px;
  overflow-y: auto;
}

.right-content .content a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.right-content .content a:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.cards::-webkit-scrollbar {
  height: 1px;
}

.right-content::-webkit-scrollbar {
  width: 1px;
}

.cards::-webkit-scrollbar-thumb {
  background: transparent;
}

.right-content::-webkit-scrollbar-thumb {
  background: transparent;
}

.cards::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.right-content::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.cards .card {
  background-color: transparent;
  border-radius: 8px;
  width: 180px;
  min-width: 180px;
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards .card:hover {
  background-color: #2a2a2a;
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 6px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  color: #b3b3b3;
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}


.play-btn {
  position:absolute;
  bottom: 20px;
  right: 15px;
  background-color: #1db954;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px); 
}

.play-btn img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  position: absolute;
  top: 28%;
  left: 26%;
  transform: translate(-50%, -50%);
}


.card:hover .play-btn {
  opacity: 1;
  /* transform: translateY(0); */
}


.card:hover img {
  transform: scale(1.05);
  transition: transform 0.1s ease;
}
/*footer*/
.footer{
  background-color: rgb(19, 18, 18);;
  border-top: 0.7px solid white;
  padding: 60px 20px ;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #282828;
  padding-bottom: 40px;
}
.footer h3{
  padding-bottom: 10px;
}
.footer a{
  text-decoration: none;
  color: #ffffffbf;
  font-size: 16px;
}
.footer ul{
  list-style-type: none;
}
.footer-column li {
  margin-bottom: 10px;
}
.footer-column a:hover {
  color: #1db954; 
  text-decoration: underline;
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-socials a {
  background-color: #222;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.footer-socials a:hover {
  background-color: #1db954;
  transform: scale(1.1);
  filter: invert(1);
}

.footer-socials img {
  width: 18px;
  height: 18px;
  filter: invert(0);
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  color: #b3b3b3;
  font-size: 13px;
}

.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-top: 1px solid #282828;
  z-index: 1000;
}


.player-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-left img {
  width: 56px;
  height: 56px;
  border-radius: 6px;
  object-fit: cover;
}

.track-info h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.track-info p {
  font-size: 12px;
  color: #b3b3b3;
}

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  gap: 16px;
  margin-bottom: 6px;
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.controls img {
  width: 28px;
  height: 28px;
  filter: invert(1);
  transition: transform 0.2s;
}

.controls img:hover {
  transform: scale(1.15);
}

.progress-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 400px;
}

.progress-bar input[type="range"] {
  width: 100%;
  height: 4px;
  cursor: pointer;
}

#current-time, #total-time {
  font-size: 11px;
  color: #b3b3b3;
}

.player-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-right input[type="range"] {
  width: 100px;
}
.music-player {
  z-index: 2000;
}